<!DOCTYPE html>
<html>
    <head>
        <title>Test page</title>
    </head>

    <body>
        <h1>
            Link 3
        </h1>
        <p>
            <a href="/link1" class="classy-link">Back to 1</a>
        </p>
    </body>
</html>