<!DOCTYPE html>
<html>
    <head>
        <title>Test page</title>
    </head>

    <body>
        <h1>
            Link 2
        </h1>
        <p>
            <a href="/link3" id="link-again">And another link</a>
        </p>
    </body>
</html>