<!DOCTYPE html>
<html>
    <head>
        <title>Test page</title>
    </head>

    <body>
        <h1>
            This is the title
        </h1>
        <p>
            First paragraph
        </p>
        <p id="secondParagraph" class="paragraphOfInterest">
            And here is a second paragraph
        </p>
        <p id="secondParagraph" class="paragraphOfInterest">
            And here is a paragraph with the same class as the secondParagraph
        </p>
        <input type="text" name="sampleTextInput" value="A text input">
        <input type="text" name="sampleTextInput" value="Another text input">
        <textarea>A text area</textarea>
        <textarea>Another text area</textarea>
    </body>
</html>