<!DOCTYPE html>
<html>
    <head>
        <title>Test page</title>
    </head>

    <body>
        <h1>
            I love forms!
        </h1>
       <form action="/post" method="post">
            <input type="text" name="forumInputOne" id="forumInputId"><br />
            <textarea name="formTextArea" id="formTextAreaId"></textarea><br />
            <select name="catlist" id="CatListId">
              <option value="persian">Persian</option>
              <option value="siamese">Siamese</option>
              <option value="ragdoll">Ragdoll</option>
              <option value="russianblue">Russian Blue</option>
              <option value="mainecoon">Maine Coon</option>
            </select><br />
           <button type="submit" id="forumSubmitButton">Submit</button>
       </form>
    </body>
</html>