<!DOCTYPE html>
<html>
    <head>
        <title>Test page</title>
    </head>

    <body>
        <h1>
            Link 4
        </h1>
        <p>
            This link will only redirect the user after 300ms. <a href="/link5" onclick="clickLink(event);">Hats for all</a>
        </p>
        <p>
            This link will only redirect the user after 300ms and has no href. <a onclick="clickLink(event);">I like your shoes</a>
        </p>

        <script type="text/javascript">
            function clickLink(event) {
                event.preventDefault();
                setTimeout(function () {
                    window.location.href = "/link5";
                }, 300);
            }
        </script>
    </body>
</html>