<!DOCTYPE html>
<html>
    <head>
        <title>Test page</title>
    </head>

    <body>
        <h1>
            Link 8
        </h1>
        <p>
            This link does nothing. <a id="no-change-1" href="#hidden1">OneTwoThree</a>
        </p>
        <p>
            This link does nothing. <a id="no-change-2" href="#hidden2">this one</a>
        </p>
        <p>
            This link works. <a href="/link6" id="change">One</a>
        </p>
        <p>
            This link does nothing. <a id="no-change-3" href="#hidden3">ThisOneTime</a>
		</p>

    </body>
</html>