<!DOCTYPE html>
<html>
    <head>
        <title>Test page</title>
        <script type="text/javascript" src="http://localhost:1414/remoteControl.js"></script>
    </head>

    <body>
        <h1>
            Hello Remote Controlled World!
        </h1>
    </body>
</html>